<h1>Create a new photo</h1>
<div>
    <form action="/create_photo">
        <div>
            <label for="source_input">Image URL</label>
            <input text="text" id="source_input" name="the_source">
        </div>
        <div>
            <label for="caption_input">Caption</label>
            <input text="text" id="caption_input" name="the_caption">
        </div>
        <button type="submit">Create photo</button>
    </form>
</div>